<launch>

    <arg name="project" default="lio_sam"/>

    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find lio_sam)/launch/include/rosconsole/rosconsole_error.conf"/>


    <!--  Transforms -->
    <node pkg="tf" type="static_transform_publisher"
        name="gps_transform"
        args="0 0 0 0 0 0 base_link gps 10" />

    <!--  Setup Holzbrett -->
    <!--<node pkg="tf" type="static_transform_publisher"
            name="imu_transform"
            args="0.04 -0.19 -0.04935 0 0 0 1 base_link imu_link 10" /> -->

    <!-- Test Setup Stapler -->
    <node pkg="tf" type="static_transform_publisher"
            name="imu_transform"
            args="0.04 -0.19 -0.04935 0 0 0 1 lidar_link imu_link 10" />

    <node pkg="tf" type="static_transform_publisher"
            name="lidar_transform"
            args="0 0 0 0 0 0 1 base_link lidar_link 10" />

    <node pkg="tf" type="static_transform_publisher"
            name="spitze_transform"
            args="2 0 -2 0 0 0 1 base_link spitze_link 10" />
            
    <!--  Setup Rollwagen -->
    <!-- <node pkg="tf" type="static_transform_publisher"
            name="imu_transform"
            args="0.0787 -0.5004 -0.04935 0 0 0 1 base_link imu_link 10" /> -->

    <node pkg="tf" type="static_transform_publisher" 
        name="navsat_link_to_gps_broadcaster" 
        args="0 0 0 0 0 0 1 gps navsat_link 10" /> 
 
    
    <!-- EKF GPS-->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_gps" respawn="true">
        <!-- published -->
        <remap from="odometry/filtered" to="odometry/navsat" />

        <!-- subscribed - added manually  -->
        <!-- odometry/gps -->
        <!-- vorher im Bsp. Datensatz <remap from="imu_correct" to="imu/data_raw" /> -->
        <remap from="imu_correct" to="imu/data" />
    </node>

    <!-- Navsat -->
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat" respawn="true">
        <!-- <rosparam param="datum">[42.35893211, -71.09345588, 0.0, map, base_link]</rosparam> -->
        <!-- published /> -->
        <!-- odometry/gps -->

        <!-- subscribed /> -->
        <!-- <remap from="/imu/data_raw" to="imu_correct" /> -->
        <!-- <remap from="imu_correct" to="imu/data" /> -->
            <!-- vorher im Bsp. Datensatz <remap from="imu/data" to="imu/data_raw" /> -->
        <remap from="imu/data" to="/imu/data" />
            <!-- vorher im Bsp. Datensatz <remap from="gps/fix" to="gps/fix" /> -->
        <remap from="gps/fix" to="imu/nav_sat_fix" />
        <!-- vorher <remap from="odometry/filtered" to="odometry/navsat" /> -->
        <remap from="odometry/filtered" to="imu/odometry" />
    </node>

    <!-- manually transformation to test the tf problems in rviz -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="base2sensor" args="0 0 0 0 0 0 1 base_link lidar_link 10" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="lidar2sensor" args="0 0 0 0 0 0 1 lidar_link os_sensor 10" /> -->
    <node pkg="tf" type="static_transform_publisher" name="lidar2sensor" args="0 0 0 0 0 0 1 base_link os_sensor 10" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="map2odom" args="0 0 0 0 0 0 1 map odom 10" /> -->

</launch>